<html>

<head>
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif
    }
  </style>
</head>

<body>
  <strong>Ola, {{ debtor.name }} </strong>
  <p>Não se esqueça de pagar a dívida: {{ debt.description }} no valor: {{ debt.value }}</p>
  <br>
  <hr>
  Att <strong>{{ user.name }} | ({{ user.email }})</strong>
</body>

</html>
